body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
}

.left {
    height: 100vh;
    width: 600px;
    margin: 20px;
}

.content {
    max-width: 550px;
    margin: auto;
    padding: 20px;
}

.auth-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-logo img {
    height: 64px;
    width: 64px;
}

.title {
    text-align: center;
    /* display: flex;
    flex-direction: column;
    gap: 2px; */
}

.title h1 {
    font-weight: 500;
    font-size: 24px;
    padding: 35px 0px 8px 0px;
}

.title span {
    color: #888;
    font-size: 14px;
    padding-bottom: 20px;
    border-bottom: 2px solid #eee;
}

.form {
    padding: 30px 0;
}

.row {
    padding-bottom: 20px;
}

.input {
    background-color: #fff;
    border-radius: 3px;
    padding: 0;
    width: 480px;
}

.input input {
    width: 480px;
    height: 21px;
    border: none;
    background: transparent;
    border-radius: 3px;
    margin: 0;
    padding: 10px;
    font-size: 16px;
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #ccc;
    border-left: 1px solid #d3d3d3;
    border-bottom: 1px solid #ccc;
}

.input input:focus{
    outline: none;
    border: 1px solid #7fff00;
}

.label {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 13px;
}

.form-relative {
    padding-bottom: 20px;
}

.checkbox {
    font-size: 13px;
    color: #888;
}

.submit {
    width: 450px;
    background-color: #2bd14e;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    text-align: center;
    padding: 11px 25px;
    margin-top: 40px;
    border-radius: 3px;
}

.already {
    padding-top: 20px;
    display: block;
    text-align: center;
}

.already span {
    color: #546e7a;
    font-size: 18px;
    cursor: pointer;
}

.right {
    position: absolute;
    left: 600px;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(https://static-gcdn.basecdn.net/account/image/background.png);
    background-position: right bottom;
    background-repeat: repeat-x;
    background-size: cover;
}

.popup {
    position: fixed;
    padding-top: 300px;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    width: 350px;
    background-color: #fff;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    border: 2px solid #333;
}

.popup-but {
    display: flex;
    justify-content: space-between;
}

.popup-but span {
    cursor: pointer;
    font-size: 24px;
    padding-top: 10px;
}

.popup-test {
    display: flex;
    gap: 25px;
    align-items: center;
    padding-top: 30px;
}

.popup-test i {
    font-size: 40px;
}

.popup-test span {
    font-size: 20px;
}

.open-popup {
    visibility: visible;

}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #dfdada;
    color: red;
    border: 0;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}